In [7]:
import os
os.listdir("dataset")

['iris_xlsx.csv',
 'bank.csv',
 'classification_data_01.csv',
 'bike_rental.csv',
 'linear_regression_01.csv',
 'traffic_accident.txt',
 'bike_weather.csv',
 'class_scores.csv',
 'diamonds.csv',
 'iris_missing.csv',
 'elec_load.csv',
 'logistic_regression_01.csv',
 'join_list.csv',
 'bike.csv',
 'AWS_sample.txt',
 'join_room.csv',
 'iris_xlsx.xlsx',
 'diabetes.csv',
 'bike.json',
 'rating_chocobar.csv']

In [8]:
import pandas as pd
import numpy as np

In [9]:
df = pd.read_csv("dataset/bike.csv")
df

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

In [11]:
df = pd.read_csv("dataset/AWS_sample.txt")
df.head(2)

           AWS_ID#TM#TA#Wind#X.
0  108#2016-07-01 00#24.2#2.3#=
1  108#2016-07-01 01#24.3#2.3#=

In [12]:
df = pd.read_csv("dataset/AWS_sample.txt", sep="#")
df.head(2)

   AWS_ID             TM    TA  Wind X.
0     108  2016-07-01 00  24.2   2.3  =
1     108  2016-07-01 01  24.3   2.3  =

In [28]:
elec = pd.read_csv("dataset/elec_load.csv")
print(elec.shape)
print(elec.X1HR.mean())
elec_2009 = elec.loc[elec["YEAR"] == 2009]
print(len(elec_2009))

(3546, 27)
46606.40778341793
365
      YEAR  MONTH  DAY   X1HR   X2HR   X3HR   X4HR   X5HR   X6HR   X7HR  ...  \
731   2010      1    1  44836  43190  41568  40160  38968  38410  37867  ...
732   2010      1    2  42703  41183  39859  38594  38258  38737  39863  ...
733   2010      1    3  47969  45993  44537  43448  42924  42977  43812  ...
734   2010      1    4  49617  47626  46207  45062  44517  44574  45267  ...
735   2010      1    5  51130  49531  48229  46993  46211  46221  46868  ...
...    ...    ...  ...    ...    ...    ...    ...    ...    ...    ...  ...
1091  2010     12   27  48186  45777  44474  43861  44114  44789  45905  ...
1092  2010     12   28  50218  48237  46937  46203  46306  46801  47908  ...
1093  2010     12   29  52732  51015  49833  48742  48271  48366  49103  ...
1094  2010     12   30  51396  49577  48258  47017  46379  46181  46178  ...
1095  2010     12   31  47702  46085  44586  43466  42811  42439  41630  ...

      X15HR  X16HR  X17HR  X18HR  X19HR  X20HR  X21HR  X22HR  X23HR  X24HR
731   33441  33464  34282  36356  38361  39052  39473  39886  43840  44410
732   47702  47450  47740  49359  49822  48727  48002  47265  50137  50203
733   50176  49590  50014  51724  52460  51304  50138  49345  51934  51989
734   52201  52027  52524  53727  53540  52077  51274  50255  52927  53220
735   52157  51764  52060  53401  54212  52811  51808  50725  53375  53639
...     ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
1091  51387  51171  51458  52649  52767  51730  50803  50235  53070  52907
1092  53881  53675  54022  55508  55203  53904  52624  51662  54865  55190
1093  52167  51447  51041  52176  52331  51199  50297  49515  53133  53621
1094  43539  42566  42036  43843  44984  44923  44777  44698  48585  49570
1095  36444  36157  36505  39310  41258  41605  41475  41933  45678  46650

[365 rows x 27 columns]

In [23]:
elec_2009

,YEAR,MONTH,DAY,X1HR,X2HR,X3HR,X4HR,X5HR,X6HR,X7HR,...,X15HR,X16HR,X17HR,X18HR,X19HR,X20HR,X21HR,X22HR,X23HR,X24HR
366,2009,1,1,42897,41499,39727,38092,36863,36109,35488,...,30356,30399,30873,33157,35271,35524,36282,36796,40429,41198
367,2009,1,2,40234,38974,36992,35632,34604,34328,34004,...,31732,31721,32344,34811,36680,36955,37629,37899,41100,41507
368,2009,1,3,40302,38632,37067,35686,35042,35220,36059,...,45405,45152,45316,46410,46488,45332,44886,44433,47151,47150
369,2009,1,4,45115,43287,41729,40503,39726,39805,40508,...,46415,46580,46737,47918,48671,47426,46704,45829,48278,48545
370,2009,1,5,46384,44650,43304,41956,41217,41147,41884,...,46722,46476,46671,47797,48072,46915,46544,45816,48242,48249
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,2009,12,27,51126,49540,48312,47091,46243,45645,46680,...,51849,51434,51845,53094,53809,52531,51483,50385,53243,53377
727,2009,12,28,51460,50026,48679,47288,46317,46259,47045,...,51273,50612,51153,52228,52517,51602,50829,49981,52916,53126
728,2009,12,29,51066,49298,48004,46660,45897,45718,46283,...,50969,50648,50813,51970,52296,51126,50148,49243,52159,52505
729,2009,12,30,50488,48708,47330,45886,44910,44570,45033,...,48566,47769,47394,48362,48714,47753,47147,46600,49691,50065
730,2009,12,31,48339,46788,45416,44057,42966,42357,42183,...,39789,38945,38376,39807,41644,41527,41657,41634,45333,45948