# 다음 문제를 풀이하시오

In [2]:
import pandas as pd
pd.__version__

'1.2.3'

In [3]:
df = pd.DataFrame([[1, 2], [3, 4], [5, 6]],
                  columns = ["aa", "bb"])

### Q1. 앞에서 생성한 df 객체를 출력하시오.

In [4]:
df

   aa  bb
0   1   2
1   3   4
2   5   6

### Q2. df 객체의 row 개수를 출력하시오

In [24]:
df.shape[0]

3

### Q3. df 객체의 column 개수를 출력하시오.

In [21]:
df.shape[1]

2

### Q4. df 객체의 변수명을 출력하시오.

In [14]:
df.columns

Index(['aa', 'bb'], dtype='object')

### Q5. df 객체의 첫 번째 변수에 있는 모든 원소를 출력하시오.

In [20]:
df.iloc[:,0]

0    1
1    3
2    5
Name: aa, dtype: int64

### Q6. df 객체의 첫 번째 row를 출력하시오.

In [18]:
df.iloc[0]

aa    1
bb    2
Name: 0, dtype: int64