# 다음 문제를 풀이하시오.

### Q1. diabetes.csv 파일을 pandas 라이브러리 함수를 활용하여 읽어오고 해당 내용을 df 객체에 저장하시오.
※ 다음 문항부터 df 객체를 기준으로 풀이하시오.

In [77]:
import pandas as pd
import numpy as np
df = pd.read_csv("../dataset/diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

### Q2. Pregnancies는 임신 경험 횟수라고 한다. 이 때 임신 경험이 없는 사람의 BMI와 그렇지 않은 사람의 BMI 평균을 산출하고 두 값을 서로 뺀 절대값을 확인하시오.
※ 단, BMI가 0인 데이터는 제외하고 연산하시오. <br>
※ 결과값은 반올림하여 소수점 첫 째 자리 까지 기술하시오.

In [82]:
df_sub = df.loc[df.BMI != 0]
exp = df_sub.loc[df_sub["Pregnancies"] != 0, "BMI"].mean()
not_exp = df_sub.loc[df_sub["Pregnancies"] == 0, "BMI"].mean()
print(exp, not_exp)
np.abs(exp - not_exp).round(1)

31.993990755007697 35.242592592592615

3.2

### Q3. Pregnancies와 Outcome변수를 제외한 변수의 값이 0인 것은 기록이 누락된것이라고 한다. 각 변수별로 기록이 누락된 데이터 개수를 정리하시오.

In [96]:
df.iloc[:, 1:-1].isin([0]).sum()

Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
dtype: int64

In [100]:
df_c = df.iloc[:, 1:-1].copy()
df_c.apply(lambda x: sum(x == 0))

Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
dtype: int64

### Q4. 기록이 하나라도 누락된 사람의 데이터는 제거하고 이를 df2 객체에 저장하시오. 이 때 총 몇 명의 데이터가 제거되었는가?
※ 누락된 기록의 정의는 3번 문항을 참고하시오. <br>
※ 다음 문항부터 df2 객체를 기준으로 풀이하시오.

In [150]:
# df2 = df.loc[df.Glucose != 0]\
#     .loc[df.BloodPressure != 0]\
#     .loc[df.SkinThickness != 0]\
#     .loc[df.Insulin != 0]
#     .loc[df.BMI != 0]
df2 = df.copy()
df2 = df2.iloc[:, 1:-1].replace(0, np.nan).dropna()
df.shape[0] - df2.shape[0]

376

### Q5. Age 변수를 활용하여 나이를 10살 단위로 나눈 연령대 변수 Age_g 를 생성하고 해당 변수를 기준으로 BMI의 평균을 구했을 때 가장 높은 BMI의 평균을 기록한 연령대는?
※ 변환 규칙 예시: 30 --> 3, 39 --> 3, 24 --> 2 <br>
※ 정답 예시: 3

In [155]:
df2["Age_g"] = df2.Age // 10
df2.groupby(by="Age_g").mean().idxmax().BMI

4

### Q6. 당뇨 또는 비만과 관계있는 변수를 모아서 그 상관관계를 확인하고자 한다. Glucose, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction 변수간 Pearson 상관계수를 확인하고 그 값이 가장 높은 두 변수와 상관계수를 차례대로 기술하시오.
※ 상관계수는 반올림하여 소수점 둘 째 자리 까지 기술하시오. <br>
※ 정답 예시: A, B, 0.12

In [163]:
# Glucose, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction
cr = df2.iloc[:, [1, 3, 4, 5, 6]].corr().round(2).reset_index()
cr

,index,BloodPressure,Insulin,BMI,DiabetesPedigreeFunction,Age
0,BloodPressure,1.00,0.10,0.30,-0.02,0.30
1,Insulin,0.10,1.00,0.23,0.14,0.22
2,BMI,0.30,0.23,1.00,0.16,0.07
3,DiabetesPedigreeFunction,-0.02,0.14,0.16,1.00,0.09
4,Age,0.30,0.22,0.07,0.09,1.00

In [164]:
cr_melt = cr.melt(id_vars="index").sort_values(by="value", ascending=False)

In [166]:
head = cr_melt.loc[cr_melt["index"] != cr_melt["variable"], :].iloc[0]
print(head["index"], head["variable"], head["value"])

BloodPressure BMI 0.3