# 다음 문제를 풀이하시오.

### Q1. "bike_rental.csv"와 "bike_weather.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오.
(불러온 파일을 각각 rental, weather 객체에 저장하시오.)

In [107]:
import pandas as pd
import numpy as np
rental, weather = pd.read_csv("../dataset/bike_rental.csv"), pd.read_csv("../dataset/bike_weather.csv")

In [108]:
rental

                  datetime  casual  registered  count
0      2011-01-01 00:00:00       3          13     16
1      2011-01-01 01:00:00       8          32     40
2      2011-01-01 02:00:00       5          27     32
3      2011-01-01 03:00:00       3          10     13
4      2011-01-01 04:00:00       0           1      1
...                    ...     ...         ...    ...
10881  2012-12-19 19:00:00       7         329    336
10882  2012-12-19 20:00:00      10         231    241
10883  2012-12-19 21:00:00       4         164    168
10884  2012-12-19 22:00:00      12         117    129
10885  2012-12-19 23:00:00       4          84     88

[10886 rows x 4 columns]

In [109]:
weather

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0000
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0000
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0000
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0000
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0000
...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19,19,4,0,1,1,15.58,19.695,50,26.0027
10882,2012-12-19,20,4,0,1,1,14.76,17.425,57,15.0013
10883,2012-12-19,21,4,0,1,1,13.94,15.910,61,15.0013
10884,2012-12-19,22,4,0,1,1,13.94,17.425,61,6.0032
10885,2012-12-19,23,4,0,1,1,13.12,16.665,66,8.9981

### Q2. casual 변수와 registered 변수의 합이 count변수의 합과 같다는 것을 증명하시오.

In [110]:
temp = (rental.casual + rental.registered - rental["count"] == 0)
temp.count() == temp.sum()

True

### Q3. weather 객체에 rental 객체를 column 기준으로 concat() 함수를 활용하여 병합하시오.
(데이터를 병합하여 df_con 객체에 저장하시오.)

In [111]:
df_con = pd.concat([weather, rental], axis=1)
df_con

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,datetime,casual,registered,count
0,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0000,2011-01-01 00:00:00,3,13,16
1,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 01:00:00,8,32,40
2,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0000,2011-01-01 02:00:00,5,27,32
3,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 03:00:00,3,10,13
4,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0000,2011-01-01 04:00:00,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10881,2012-12-19,19,4,0,1,1,15.58,19.695,50,26.0027,2012-12-19 19:00:00,7,329,336
10882,2012-12-19,20,4,0,1,1,14.76,17.425,57,15.0013,2012-12-19 20:00:00,10,231,241
10883,2012-12-19,21,4,0,1,1,13.94,15.910,61,15.0013,2012-12-19 21:00:00,4,164,168
10884,2012-12-19,22,4,0,1,1,13.94,17.425,61,6.0032,2012-12-19 22:00:00,12,117,129
10885,2012-12-19,23,4,0,1,1,13.12,16.665,66,8.9981,2012-12-19 23:00:00,4,84,88

### Q4. df_con 객체의 변수별 결측치 개수를 확인하시오.

In [112]:
df_con.isna().sum().reset_index()

         index  0
0         date  0
1         hour  0
2       season  0
3      holiday  0
4   workingday  0
5      weather  0
6         temp  0
7        atemp  0
8     humidity  0
9    windspeed  0
10    datetime  0
11      casual  0
12  registered  0
13       count  0

### Q5. pandas.DataFrame의 join() 을 활용하여 weather과 rental 데이터를 병합하시오.
(병합한 데이터는 df_join에 저장하시오)
 * pandas.to_timedelta() 를 활용하시오
 * pandas.Series.astype() 를 활용하시오
 
※ 힌트: 일 데이터에 to_timedelta() 함수로 변환된 시간 증분을 더하여 두 객체의 시간 형식을 맞추시오

In [113]:
# weather["datetime"] = weather.date.astype("dateime64[ns]") + pd.to_timedelta(weather.hour, "h")
weather["datetime"] = weather.date + pd.to_timedelta(weather.hour, "h").astype("str").apply(lambda x: " " + x.split()[2])
weather = weather.set_index("datetime")
weather

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed
datetime,,,,,,,,,,
2011-01-01 00:00:00,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0000
2011-01-01 01:00:00,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0000
2011-01-01 02:00:00,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0000
2011-01-01 03:00:00,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0000
2011-01-01 04:00:00,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0000
...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,2012-12-19,19,4,0,1,1,15.58,19.695,50,26.0027
2012-12-19 20:00:00,2012-12-19,20,4,0,1,1,14.76,17.425,57,15.0013
2012-12-19 21:00:00,2012-12-19,21,4,0,1,1,13.94,15.910,61,15.0013
2012-12-19 22:00:00,2012-12-19,22,4,0,1,1,13.94,17.425,61,6.0032
2012-12-19 23:00:00,2012-12-19,23,4,0,1,1,13.12,16.665,66,8.9981

In [114]:
# rental.datetime = rental.datetime.astype("datetime64[ns]")
# rental.datetime = pd.to_datetime(rental.datetime)
rental = rental.set_index("datetime")
rental

                     casual  registered  count
datetime
2011-01-01 00:00:00       3          13     16
2011-01-01 01:00:00       8          32     40
2011-01-01 02:00:00       5          27     32
2011-01-01 03:00:00       3          10     13
2011-01-01 04:00:00       0           1      1
...                     ...         ...    ...
2012-12-19 19:00:00       7         329    336
2012-12-19 20:00:00      10         231    241
2012-12-19 21:00:00       4         164    168
2012-12-19 22:00:00      12         117    129
2012-12-19 23:00:00       4          84     88

[10886 rows x 3 columns]

In [115]:
df_join = weather.join(rental)
df_join

,date,hour,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
datetime,,,,,,,,,,,,,
2011-01-01 00:00:00,2011-01-01,0,1,0,0,1,9.84,14.395,81,0.0000,3,13,16
2011-01-01 01:00:00,2011-01-01,1,1,0,0,1,9.02,13.635,80,0.0000,8,32,40
2011-01-01 02:00:00,2011-01-01,2,1,0,0,1,9.02,13.635,80,0.0000,5,27,32
2011-01-01 03:00:00,2011-01-01,3,1,0,0,1,9.84,14.395,75,0.0000,3,10,13
2011-01-01 04:00:00,2011-01-01,4,1,0,0,1,9.84,14.395,75,0.0000,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2012-12-19 19:00:00,2012-12-19,19,4,0,1,1,15.58,19.695,50,26.0027,7,329,336
2012-12-19 20:00:00,2012-12-19,20,4,0,1,1,14.76,17.425,57,15.0013,10,231,241
2012-12-19 21:00:00,2012-12-19,21,4,0,1,1,13.94,15.910,61,15.0013,4,164,168
2012-12-19 22:00:00,2012-12-19,22,4,0,1,1,13.94,17.425,61,6.0032,12,117,129
2012-12-19 23:00:00,2012-12-19,23,4,0,1,1,13.12,16.665,66,8.9981,4,84,88

### Q6. df_join의 변수별 결측치를 확인하시오.

In [116]:
df_join.isna().sum().reset_index()

         index  0
0         date  0
1         hour  0
2       season  0
3      holiday  0
4   workingday  0
5      weather  0
6         temp  0
7        atemp  0
8     humidity  0
9    windspeed  0
10      casual  0
11  registered  0
12       count  0