# 다음 문제를 풀이하시오.

### Q1. pandas 모듈을 pd로 불러오시오.

In [1]:
import pandas as pd

### Q2. "rating_chocobar.csv"를 pandas 모듈을 활용하여 불러오고 객체 종류를 확인하시오
(단, df 객체에 저장하시오)

In [2]:
df = pd.read_csv('../dataset/rating_chocobar.csv')

### Q3. df의 첫 3개 row를 출력하시오

In [3]:
df.head(3)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
1,A. Morin,Kpime,1676,2015,70%,France,2.75,NaN,Togo
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo

### Q4. df의 마지막 2개 row를 출력하시오

In [4]:
df.tail(2)

,Company_Maker_if_known,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
1793,Zotter,Kerala State,781,2011,62%,Austria,3.25,NaN,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q5. df의 차원을 확인하시오

In [5]:
df.ndim

2

### Q6. df의 row 개수를 확인하시오

In [6]:
df.shape[0]

1795

### Q7. df의 column 개수를 확인하시오

In [7]:
df.shape[1]

9

### Q8. df의 column 이름을 확인하시오

In [9]:
df.columns.values

array(['Company_Maker_if_known', 'Specific_Bean_Origin_or_Bar_Name',
       'REF', 'Review_Date', 'Cocoa_Percent', 'Company_Location',
       'Rating', 'Bean_Type', 'Broad_Bean_Origin'], dtype=object)

### Q9. df의 첫 번째 변수 명을 "aa"로 변경하시오

In [29]:
# df.columns.values[0] = "aa"
df = df.rename(columns={df.columns[0]: "aa"})
df.columns

Index(['aa', 'Specific_Bean_Origin_or_Bar_Name', 'REF', 'Review_Date',
       'Cocoa_Percent', 'Company_Location', 'Rating', 'Bean_Type',
       'Broad_Bean_Origin'],
      dtype='object')

### Q10. df의 첫 번째, 네 번째, 열 번째 row를 추출하여 df_sub1 객체에 저장하시오

In [30]:
df_sub1 = df.iloc[[0, 3, 9]]
df_sub1

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
3,A. Morin,Akata,1680,2015,70%,France,3.50,NaN,Togo
9,A. Morin,Pablino,1319,2014,70%,France,4.00,NaN,Peru

### Q11. df의 index 번호가 짝수인 것만 추출하여 df_sub2 객체에 저장하시오

In [31]:
df_sub2 = df.iloc[range(0, df.shape[0], 2)]
df_sub2

,aa,Specific_Bean_Origin_or_Bar_Name,REF,Review_Date,Cocoa_Percent,Company_Location,Rating,Bean_Type,Broad_Bean_Origin
0,A. Morin,Agua Grande,1876,2016,63%,France,3.75,NaN,Sao Tome
2,A. Morin,Atsane,1676,2015,70%,France,3.00,NaN,Togo
4,A. Morin,Quilla,1704,2015,70%,France,3.50,NaN,Peru
6,A. Morin,Cuba,1315,2014,70%,France,3.50,NaN,Cuba
8,A. Morin,Puerto Cabello,1319,2014,70%,France,3.75,Criollo,Venezuela
...,...,...,...,...,...,...,...,...,...
1786,Zotter,El Ceibo Coop,879,2012,90%,Austria,3.25,NaN,Bolivia
1788,Zotter,"Kongo, Highlands",883,2012,68%,Austria,3.25,Forastero,Congo
1790,Zotter,Peru,647,2011,70%,Austria,3.75,NaN,Peru
1792,Zotter,Kerala State,749,2011,65%,Austria,3.50,Forastero,India
1794,Zotter,"Brazil, Mitzi Blue",486,2010,65%,Austria,3.00,NaN,Brazil

### Q12. df_sub1과 df_sub2를 차례대로 병합하여 df_sub 객체에 저장하시오

### Q13. df_sub를 "quiz_sub.csv"로 저장하시오.