# 다음 문제를 풀이하시오

### Q1. "bike.csv" 파일을 Pandas 라이브러리를 활용하여 불러온 후 df 객체에 저장하시오.

In [1]:
import pandas as pd
df = pd.read_csv("../dataset/bike.csv")

### Q2. df객체의 "datetime"변수에서 월 정보를 뽑아 df객체에 "month" 변수를 새로 만드시오.

In [12]:
df["month"] = df.datetime.astype("datetime64").dt.month
df.tail()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,month
10881,2012-12-19 19:00:00,4,0,1,1,15.58,19.695,50,26.0027,7,329,336,12
10882,2012-12-19 20:00:00,4,0,1,1,14.76,17.425,57,15.0013,10,231,241,12
10883,2012-12-19 21:00:00,4,0,1,1,13.94,15.910,61,15.0013,4,164,168,12
10884,2012-12-19 22:00:00,4,0,1,1,13.94,17.425,61,6.0032,12,117,129,12
10885,2012-12-19 23:00:00,4,0,1,1,13.12,16.665,66,8.9981,4,84,88,12

### Q3. 6월과 12월의 자전거 대여 차이를 알아보고자 한다. "registered" 변수와 독립 2표본 t검정을 사용하여 결과를 확인하시오.

In [16]:
from scipy.stats import ttest_ind
ttest_ind(df.loc[df.month == 6, "registered"], df.loc[df.month == 12, "registered"])

Ttest_indResult(statistic=4.060737442648404, pvalue=5.099069627847571e-05)

### Q4. df객체의 "datetime"변수에서 요일 정보를 뽑아 df객체에 "wday" 변수를 새로 만드시오

In [21]:
df["wday"] = df.datetime.astype("datetime64").dt.dayofweek # 월~일: 0~6

### Q5. 주말(토, 일)이 1이고 나머지 요일이 0인 "wend" 변수를 df객체에 만드시오.

In [46]:
df["wend"] = (df.wday >= 5) + 0
pd.crosstab(df.wday, df.wend)
# (pd.Series(["2021-04-29"]).astype("datetime64").dt.dayofweek >= 5) + 0 # 월~일: 0~6

wend     0     1
wday
0     1551     0
1     1539     0
2     1551     0
3     1553     0
4     1529     0
5        0  1584
6        0  1579

### Q6. 주중과 주말에 따른 "casual" 변수값의 차이가 있는지 독립 2표본 t검정을 사용하여 결과를 확인하시오.

In [40]:
ttest_ind(df.loc[df.wend==1, "casual"], df.loc[df.wend==0, "casual"])

Ttest_indResult(statistic=34.20622323223231, pvalue=1.1588324471094126e-243)